.twelveMonths {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5em;
}

.oneOfTwelveMonths {
    border: 1px solid lightblue;
    padding: 0.5em;
}

.monthBox {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0.5em;
}

.dayInMonthBox {
    border: 1px solid steelblue;
    text-align: center;
}

.dayInMonthBox.col1, .dayInMonthBox.col7 {
    background: #eee;
}

.dayInMonthBox a {
    display: block;
    text-decoration: none;
}

.dayInMonthBox a:hover {
    background: #ccc;
}

.photoList {
    display: flex;
    flex-wrap: wrap;
}

.photoItem {
    border: 1px solid lightblue;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.photoItem .clientModified {
    display: block;
    font: small sans-serif;
    color: #cccccc;
    margin: 1.0em 0.25em 0.25em;
}

.photoItem .name {
    display: block;
    font: small sans-serif;
    color: #cccccc;
    margin: 0.25em;
}

.photoItem .makeAndModel {
    display: block;
    font: small sans-serif;
    color: #cccccc;
    margin: 0.25em 0.25em 0.5em;
}
